body {
    background-color: lightblue;
  }
  h1 {
    color: black;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
    margin: auto;
    padding: 70px 0;
    text-align: center;
  }
  header{
    text-align: center;
    padding: 70px 0;
  }
  nav{
    display: flex;
    justify-content: flex-end;
    float: center;
    display: inline;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
  }


  /* element to animate */
img#balloon1{
    position:absolute;
    animation: hotairballoon1; 
    animation-iteration-count: infinite;
    animation-duration: 10s;}


.balloon2{
position:absolute;
animation: hotairballoon2; 
    animation-iteration-count: infinite;
    animation-duration: 10s;}
    

.balloon3{
    position:absolute;
    top :-48px;
}
.balloon4{
    position:absolute;
    top :-48px;
}
@keyframes hotairballoon1 { 
  0%{top: 25px; left: 100px; height: 100%; width: 100%;}
  25%{top: 100px; left: -25px;}
  50%{top: 250px; left: 75px; height: 25%; width: 25%;}
  75% {left: 0px; top: 200px;}
  100%{top: 25px;left: 100px;}
  
}















  /*keyframe*/